

form{
    /* border:1px solid #a5c422; */
    padding:  20px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 20px #a5c422;
}

.colortext{
    color: #a5c422;
}
.btn1{
    color: white;
    background-color:#a5c422 ;
}
input{
    max-width: 100%;

}